<div class="dashboard-container">
  <div class="card-row">
    <div class="card">
      <i class="bi bi-people card-icon"></i>
      <h3 class="card-title">{{ getTranslation("students") }}</h3>
      <p class="card-value">150</p>
    </div>
    <div class="card">
      <i class="bi bi-person-workspace card-icon"></i>
      <h3 class="card-title">{{ getTranslation("teachers") }}</h3>
      <p class="card-value">25</p>
    </div>
    <div class="card">
      <i class="bi bi-book card-icon"></i>
      <h3 class="card-title">{{ getTranslation("classes") }}</h3>
      <p class="card-value">40</p>
    </div>
    <div class="card">
      <i class="bi bi-currency-dollar card-icon"></i>
      <h3 class="card-title">{{ getTranslation("today_income") }}</h3>
      <p class="card-value">LKR 12,500</p>
    </div>
    <div class="card">
      <i class="bi bi-clock card-icon"></i>
      <h3 class="card-title">{{ getTranslation("ongoing_classes") }}</h3>
      <p class="card-value">8</p>
    </div>
  </div>
  <div class="future-section">
    <!-- chart  -->
    <div
      style="
        display: flex;
        width: 50%;
        height: 350px;
        background-color: aquamarine;
      "
    ></div>
  </div>
</div>
