<div class="content-area">
  <div class="container mt-4">
    <h2 class="text-center mb-4 animate-title">
      {{ getTranslation("all_classes") }}
    </h2>
    <div class="table-responsive animate-table">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>{{ getTranslation("Class Id") }}</th>
            <th>{{ getTranslation("Class Name") }}</th>
            <th>{{ getTranslation("Subject") }}</th>
            <th>{{ getTranslation("Day") }}</th>
            <th>{{ getTranslation("Start Time") }}</th>
            <th>{{ getTranslation("End Time") }}</th>
            <th>{{ getTranslation("Hall Number") }}</th>
            <th>{{ getTranslation("capacity") }}</th>
            <!-- <th>{{ getTranslation("status") }}</th> -->
            <th>{{ getTranslation("actions") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let class of classes; let i = index"
            class="animate-row"
            style="--row-index: {{ i }}"
          >
            <td>{{ class.class_id }}</td>
            <td>{{ class.class_name }}</td>
            <td>{{ class.subject_id }}</td>
            <td>{{ class.day }}</td>
            <td>{{ class.start_time }}</td>
            <td>{{ class.end_time }}</td>
            <td>{{ class.room_number }}</td>
            <td>{{ class.capacity }}</td>
            <!-- <td>{{ class.status }}</td> -->
            <td style="display: flex">
              <button
                class="btn btn-sm btn-primary me-2 animate-button"
                (click)="editClass(i)"
              >
                <i class="bi bi-pencil-square me-1"></i>
                {{ getTranslation("edit") }}
              </button>
              <button
                class="btn btn-sm btn-danger animate-button"
                (click)="deleteClass(i)"
              >
                <i class="bi bi-trash me-1"></i>
                {{ getTranslation("delete") }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>