<div class="content-area">
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-center animate-title mb-0">
        {{ getTranslation("add_new_teacher") }}
      </h2>
      <button
        class="btn btn-primary animate-button import-btn"
        (click)="openImportModal()"
      >
        <i class="bi bi-upload me-2"></i>
        {{ getTranslation("import_teacher_list") }}
      </button>
    </div>
    <form
      #teacherForm="ngForm"
      (ngSubmit)="onSubmit()"
      class="p-4 bg-white rounded shadow animate-form"
    >
      <div class="row">
        <!-- Teacher ID -->
        <div class="col-md-6 mb-3">
          <label for="teacher_id" class="form-label">{{
            getTranslation("teacher_id")
          }}</label>
          <input
            type="text"
            id="teacher_id"
            name="teacher_id"
            class="form-control animate-input"
            [placeholder]="getTranslation('enter_teacher_id')"
            [(ngModel)]="teacher.teacher_id"
            required
          />
          <div
            *ngIf="
              teacherForm.controls['teacher_id']?.invalid &&
              teacherForm.controls['teacher_id']?.touched
            "
            class="text-danger animate-error"
          >
            {{ getTranslation("invalid_teacher_id") }}
          </div>
        </div>

        <!-- First Name -->
        <div class="col-md-6 mb-3">
          <label for="first_name" class="form-label">{{
            getTranslation("first_name")
          }}</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            class="form-control animate-input"
            [placeholder]="getTranslation('enter_first_name')"
            [(ngModel)]="teacher.first_name"
            required
            pattern="[A-Za-z]+"
          />
          <div
            *ngIf="
              teacherForm.controls['first_name']?.invalid &&
              teacherForm.controls['first_name']?.touched
            "
            class="text-danger animate-error"
          >
            {{ getTranslation("invalid_first_name") }}
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Last Name -->
        <div class="col-md-6 mb-3">
          <label for="last_name" class="form-label">{{
            getTranslation("last_name")
          }}</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            class="form-control animate-input"
            [placeholder]="getTranslation('enter_last_name')"
            [(ngModel)]="teacher.last_name"
            required
            pattern="[A-Za-z]+"
          />
          <div
            *ngIf="
              teacherForm.controls['last_name']?.invalid &&
              teacherForm.controls['last_name']?.touched
            "
            class="text-danger animate-error"
          >
            {{ getTranslation("invalid_last_name") }}
          </div>
        </div>

        <!-- Contact Number -->
        <div class="col-md-6 mb-3">
          <label for="contact_number" class="form-label">{{
            getTranslation("contact_number")
          }}</label>
          <input
            type="tel"
            id="contact_number"
            name="contact_number"
            class="form-control animate-input"
            [placeholder]="getTranslation('enter_contact_number')"
            [(ngModel)]="teacher.contact_number"
            required
            pattern="[0-9]{10}"
          />
          <div
            *ngIf="
              teacherForm.controls['contact_number']?.invalid &&
              teacherForm.controls['contact_number']?.touched
            "
            class="text-danger animate-error"
          >
            {{ getTranslation("invalid_contact_number") }}
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Email -->
        <div class="col-md-6 mb-3">
          <label for="email" class="form-label">{{
            getTranslation("email")
          }}</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control animate-input"
            [placeholder]="getTranslation('enter_email')"
            [(ngModel)]="teacher.email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <div
            *ngIf="
              teacherForm.controls['email']?.invalid &&
              teacherForm.controls['email']?.touched
            "
            class="text-danger animate-error"
          >
            {{ getTranslation("invalid_email") }}
          </div>
        </div>

        <!-- Hire Date -->
        <div class="col-md-6 mb-3">
          <label for="hire_date" class="form-label">{{
            getTranslation("hire_date")
          }}</label>
          <input
            type="date"
            id="hire_date"
            name="hire_date"
            class="form-control animate-input"
            [(ngModel)]="teacher.hire_date"
            required
          />
          <div
            *ngIf="
              teacherForm.controls['hire_date']?.invalid &&
              teacherForm.controls['hire_date']?.touched
            "
            class="text-danger animate-error"
          >
            {{ getTranslation("invalid_hire_date") }}
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="mb-3">
        <label for="address" class="form-label">{{
          getTranslation("address")
        }}</label>
        <input
          id="address"
          name="address"
          class="form-control animate-input"
          [placeholder]="getTranslation('enter_address')"
          [(ngModel)]="teacher.address"
          required
        />
        <div
          *ngIf="
            teacherForm.controls['address']?.invalid &&
            teacherForm.controls['address']?.touched
          "
          class="text-danger animate-error"
        >
          {{ getTranslation("invalid_address") }}
        </div>
      </div>

      <div class="row">
        <!-- Specialization -->
        <div class="col-md-6 mb-3">
          <label for="specialization" class="form-label">{{
            getTranslation("specialization")
          }}</label>
          <input
            type="text"
            id="specialization"
            name="specialization"
            class="form-control animate-input"
            [placeholder]="getTranslation('enter_specialization')"
            [(ngModel)]="teacher.specialization"
            required
          />
          <div
            *ngIf="
              teacherForm.controls['specialization']?.invalid &&
              teacherForm.controls['specialization']?.touched
            "
            class="text-danger animate-error"
          >
            {{ getTranslation("invalid_specialization") }}
          </div>
        </div>

        <!-- Status -->
        <div class="col-md-6 mb-3">
          <label for="status" class="form-label">{{
            getTranslation("status")
          }}</label>
          <select
            id="status"
            name="status"
            class="form-select animate-input"
            [(ngModel)]="teacher.status"
            required
          >
            <option value="" disabled selected>
              {{ getTranslation("select_status") }}
            </option>
            <option value="Active">{{ getTranslation("active") }}</option>
            <option value="Inactive">{{ getTranslation("inactive") }}</option>
          </select>
          <div
            *ngIf="
              teacherForm.controls['status']?.invalid &&
              teacherForm.controls['status']?.touched
            "
            class="text-danger animate-error"
          >
            {{ getTranslation("invalid_status") }}
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-primary animate-button"
          [disabled]="teacherForm.invalid"
        >
          {{ getTranslation("add_teacher") }}
        </button>
      </div>
    </form>

    <!-- Custom Import Modal -->
    <div class="custom-modal" *ngIf="isImportModalOpen">
      <div class="modal-overlay" (click)="closeImportModal()"></div>
      <div class="modal-content animate-modal">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="bi bi-file-earmark-arrow-up me-2"></i>
            {{ getTranslation("import_teacher_list") }}
          </h5>
          <button
            type="button"
            class="close-btn"
            (click)="closeImportModal()"
            aria-label="Close"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        <div class="modal-body">
          <div
            class="drag-drop-area"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)"
            [ngClass]="{ 'drag-over': isDragging }"
          >
            <i class="bi bi-cloud-upload display-4 text-muted mb-3"></i>
            <p class="mb-2">{{ getTranslation("drag_drop_csv") }}</p>
            <input
              type="file"
              id="csvFile"
              accept=".csv"
              class="d-none"
              (change)="onFileSelected($event)"
            />
            <label
              style="color: white"
              for="csvFile"
              class="btn btn-outline-primary animate-button"
            >
              <i class="bi bi-folder2-open me-2"></i>
              {{ getTranslation("choose_file") }}
            </label>
            <p *ngIf="selectedFile" class="mt-3 text-success">
              <i class="bi bi-check-circle me-2"></i>
              {{ selectedFile.name }}
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary animate-button"
            (click)="closeImportModal()"
          >
            <i class="bi bi-x-circle me-2"></i> {{ getTranslation("cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-primary animate-button"
            (click)="importCsv()"
            [disabled]="!selectedFile"
          >
            <i class="bi bi-file-earmark-check me-2"></i>
            {{ getTranslation("import") }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>