<div class="main-div">
  <button class="mobile-toggle-btn" (click)="toggleSidebar()" aria-label="Toggle sidebar">
    <i class="bi bi-list"></i>
  </button>
  <div class="sidebar-main" [ngClass]="{ active: isSidebarOpen }" @slideIn>
    <div class="title">
      <div class="logo-container">
        <h1>TMS</h1>
      </div>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <!-- dashboard -->
        <li class="nav-item">
          <div
            class="nav-link"
            routerLink="/dashboard"
            routerLinkActive="active"
          >
            <i class="bi bi-speedometer2 icon"></i>
            <span class="nav-text">{{ getTranslation("dashboard") }}</span>
          </div>
        </li>
        <!-- students -->
        <li class="nav-item">
          <div
            routerLink="/addstudent"
            class="nav-link"
            (click)="toggleStudentsSubmenu()"
          >
            <i class="bi bi-people icon"></i>
            <span class="nav-text">{{ getTranslation("students") }}</span>
            <i
              class="bi bi-chevron-down arrow"
              [ngClass]="{ rotate: isStudentsOpen }"
            ></i>
          </div>
          <ul class="submenu" [ngClass]="{ active: isStudentsOpen }">
            <li class="sub-item">
              <div
                class="sub-link"
                routerLink="/addstudent"
                routerLinkActive="active"
              >
                <i class="bi bi-person-plus sub-icon"></i>
                <span class="sub-text">{{
                  getTranslation("add_student")
                }}</span>
              </div>
            </li>
            <li class="sub-item">
              <div
                class="sub-link"
                routerLink="/allstudent"
                routerLinkActive="active"
              >
                <i class="bi bi-list-ul sub-icon"></i>
                <span class="sub-text">{{
                  getTranslation("all_students")
                }}</span>
              </div>
            </li>
          </ul>
        </li>
        <!-- teachers -->
        <li class="nav-item">
          <div
            routerLink="/addteacher"
            class="nav-link"
            (click)="toggleTeachersSubmenu()"
          >
            <i class="bi bi-person-workspace icon"></i>
            <span class="nav-text">{{ getTranslation("teachers") }}</span>
            <i
              class="bi bi-chevron-down arrow"
              [ngClass]="{ rotate: isTeachersOpen }"
            ></i>
          </div>
          <ul class="submenu" [ngClass]="{ active: isTeachersOpen }">
            <li class="sub-item">
              <div
                class="sub-link"
                routerLink="/addteacher"
                routerLinkActive="active"
              >
                <i class="bi bi-person-plus sub-icon"></i>
                <span class="sub-text">{{
                  getTranslation("add_teacher")
                }}</span>
              </div>
            </li>
            <li class="sub-item">
              <div
                class="sub-link"
                routerLink="/allteacher"
                routerLinkActive="active"
              >
                <i class="bi bi-list-ul sub-icon"></i>
                <span class="sub-text">{{
                  getTranslation("all_teachers")
                }}</span>
              </div>
            </li>
          </ul>
        </li>
        <!-- class -->
        <li class="nav-item">
          <div
            routerLink="/addclass"
            class="nav-link"
            (click)="toggleClassesSubmenu()"
          >
            <i class="bi bi-people icon"></i>
            <span class="nav-text">{{ getTranslation("class") }}</span>
            <i
              class="bi bi-chevron-down arrow"
              [ngClass]="{ rotate: isClassOpen }"
            ></i>
          </div>
          <ul class="submenu" [ngClass]="{ active: isClassOpen }">
            <li class="sub-item">
              <div
                class="sub-link"
                routerLink="/addclass"
                routerLinkActive="active"
              >
                <i class="bi bi-person-plus sub-icon"></i>
                <span class="sub-text">{{
                  getTranslation("add_new_class")
                }}</span>
              </div>
            </li>
            <li class="sub-item">
              <div
                class="sub-link"
                routerLink="/allclasses"
                routerLinkActive="active"
              >
                <i class="bi bi-list-ul sub-icon"></i>
                <span class="sub-text">{{
                  getTranslation("all_classes")
                }}</span>
              </div>
            </li>
            <li class="sub-item">
              <div
                class="sub-link"
                routerLink="/stu_enroll"
                routerLinkActive="active"
              >
                <i class="bi bi-list-ul sub-icon"></i>
                <span class="sub-text">{{ getTranslation("stu_enroll") }}</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="logout-container">
      <div class="language-toggle-container">
        <div class="language-label">
          <i class="bi bi-globe icon"></i>
          <span class="language-text">{{ getTranslation("language") }}</span>
        </div>
        <div class="language-toggle-btn">
          <button
            class="lang-btn"
            [ngClass]="{ active: languageService.getLanguage() === 'english' }"
            (click)="setLanguage('english')"
          >
            <i class="bi bi-globe-americas lang-icon"></i>
            English
          </button>
          <button
            class="lang-btn"
            [ngClass]="{ active: languageService.getLanguage() === 'sinhala' }"
            (click)="setLanguage('sinhala')"
          >
            <i class="bi bi-globe-asia-australia lang-icon"></i>
            සිංහල
          </button>
        </div>
      </div>
      <button class="logout-btn">{{ getTranslation("logout") }}</button>
    </div>
  </div>

  <div class="content-area">
    <!-- Time and date -->
    <div class="datetime-container">
      <div class="datetime-item">
        <i class="bi bi-calendar3 icon"></i>
        <span class="datetime-text">{{ currentDate }}</span>
      </div>
      <div class="datetime-item">
        <i class="bi bi-clock icon"></i>
        <span class="datetime-text">{{ currentTime }}</span>
      </div>
    </div>
    
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>